<<<<<<< HEAD
:root {
    --verde: #007A3D;
    --vermelho: #ce1126;
    --preto: #000000;
    --amarelo: #fff600;
=======
:root {
    --verde: #007A3D;
    --vermelho: #ce1126;
    --preto: #000000;
    --amarelo: #fff600;
>>>>>>> 61902d388c684458a185419c3ed117d8cefd4bdb
}